
<div class="container">
<div id="heading">
    <h1><b>Online <span style="color: rgb(42, 147, 165)">Wallet</span><br>Application</b></h1>
</div>   
 
    
<div id="dv">
    <p id="para">
      This is an online wallet application through which we can manage our wallet in more faster and effective manner. This wallet can keep track of our accounts so that we can manage multiple wallets in a single secured login session. It is an optimized application which can perform different operations such as adding a wallet, deleting a wallet and modifying different wallet details on a single click.<br>
      This online wallet application contains features such as:<br>
      <span style="color: rgb(42, 147, 165)">  
       <ul>
        <li>
        Add Funds<br>
    </li>
    <li>
       Withdraw Funds<br>
    </li>
    <li>
       Transfer Funds
    </li>
    </ul>
      </span>
      </p>

    <img [src]="imageSrc" height="300px" id="Img">

</div>

</div>
