* {
    box-sizing: border-box;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 125px 50px 50px 50px ;
    
  }

  #icon{
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
  }

  #username{
    margin-bottom: 40px;
    margin-top: 10px;
    color: rgb(25, 128, 197);
  }

  #email{
    margin-bottom: 40px;
    margin-top: 10px;
    color: rgb(25, 128, 197);
  }

  #role{
    margin-bottom: 40px;
    margin-top: 10px;
    color: rgb(25, 128, 197);
  }


